{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}

{% block content %}
{# Top half of website (not including header) #}
<div class="column">
            <h1 class="text-center">
                {{ webinfo.banner }}
            </h1>
    <div class="large-12 medium-12 medium-centered small-12 small-centered row">
      {# Info on left of page #}
        <div class="large-4 large-left medium-5 medium-left columns"> <br />
            <a href="/bills/bymonth/"><img src="{{ webinfo.pge_image.url }}" width=350 height=400></a>
        </div>
      {# Info on left of page #}
        <div class="large-4 large-left medium-5 medium-left columns"> <br />
            <a href="/bills/bymonth/"><img src="{{ webinfo.calwater_image.url }}" width=350 height=400></a>
        </div>
      {# Info on left of page #}
        <div class="large-4 large-left medium-5 medium-left columns"> <br />
            <a href="/bills/bymonth/"><img src="{{ webinfo.comcast_image.url }}" width=350 height=400></a>
        </div>
        <div class="large-12 large-centered medium-12 medium-centered columns"> <br />
        <br />
          {{ webinfo.description|linebreaks }}

    </div>
</div>

{# Bottom half of website (not including footer) #}

{# Button to Bills #}
<div class="column">
    <br />
    <div class="row small-up-1 medium-up-1 large-up-1">
        <a class="large expanded button" href="/bills/bymonth"><font size="18">Click Here For Bills</font></a>
    </div>
</div>

{% endblock %}
