{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}
{% block content %}
<div class="column">
  <div class="medium-12 medium-centered large-8 large-centered row">
    <!-- <form method="post" action="/bills/submit"> -->
    {% if user.is_superuser %}
                      {# enctype as seen here \/ is required for handling ImageField and FileFields #}
    <form method="post" action="" enctype="multipart/form-data" runat="server">
      {% csrf_token %}
        <h1 class="text-center">Add a new Bill</h1>
        {{ form.errors }}
        <div class="large-6 medium-6 small-6 column">
          <label> {{ form.category.label_tag }}
            {{ form.category }}
          </label>
        </div>
        <div class="large-6 medium-6 small-6 column">
          <label> {{ form.month.label_tag }}
            {{ form.month }}
          </label>
        </div>
        <div class="large-3 medium-4 small-6 column">
          <label>
            {{ form.amount.label_tag }}
            {{ form.amount }}
          </label>
        </div>
        <div class="large-3 medium-4 small-6 column">
          <label> {{ form.date.label_tag }}
            {{ form.date }}
          </label>
        </div>
        <div class="large-3 medium-4 small-6 column">
          <label> {{ form.dateissued.label_tag }}
            {{ form.dateissued }}
          </label>
        </div>
        <div class="large-3 medium-4 small-6 column">
          <label> {{ form.image.label_tag }}
            {{ form.image }}
          </label>
        </div>
        <div class="large-12 column">
          <label> {{ form.description.label_tag }}
            {{ form.description }}
          </label>
        </div>
        <input type="submit" class="button expanded" value="Submit Bill">
    </form>
    <form action="/bills/bymonth">
        <input type="submit" class="button expanded alert" value="Cancel">
    </form>
    {% else %}
    <h1>You must be logged into an admin account to add a recipe... Nice try Bub</h1>
    {% endif %}
  </div>
</div>
{% endblock %}
