{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}
{% block content %}
<h1><center>Roommate Payments</center></h1>
<div class="row small-8 medium-8 large-8">
    <form method="post" action="/bills/search">
      {% csrf_token %}
        <input type="text" name="term" size="30" placeholder="Search for a Roomate/Bill..."/>
        <input type="submit" class="button expanded" value="Search" />
    </form>
</div>
<div class="row small-12 small-centered medium-12 medium-centered large-4 large-centered">
  <div class="column">
    <table class="striped">
      <thead>
        <tr>
          <th width="20" id="TOTALS"><b>TOTALS</b></th>
          <th id="owed"> Owed </th>
          <th id="paid"> Paid </th>
          <th id="stillowed"> Left </th>
        </tr>
      </thead>
      {% for person in roommates %}
      <tbody>
        <tr id="userTotals">
          {% if person.name == "Edgar" %}
            <td id="Edgar"> {{person.name}} </td>
          {% elif person.name == "Mike" %}
            <td id="Mike"> {{person.name}} </td>
          {% elif person.name == "Marc" %}
            <td id="Marc"> {{person.name}} </td>
          {% elif person.name == "Erik" %}
            <td id="Erik"> {{person.name}} </td>
          {% elif person.name == "John" %}
            <td id="John"> {{person.name}} </td>
          {% elif person.name == "Dom" %}
            <td id="Dom"> {{person.name}} </td>
          {% else %}
            <td > --- </td>
          {% endif %}
          <td pos="centered" id="owed"> ${{person.totalowed}}</td>
          <td id="paid"> ${{person.totalpaid}}</td>
          {% if person.stillowed <= 0 %}
            <td id="stillowed0"> ${{person.stillowed}}</td>
          {% elif person.stillowed <= 30 %}
            <td id="stillowed25"> ${{person.stillowed}}</td>
          {% elif person.stillowed <= 60 %}
            <td id="stillowed50"> ${{person.stillowed}}</td>
          {% elif person.stillowed <= 140 %}
            <td id="stillowed75"> ${{person.stillowed}}</td>
          {% elif person.stillowed <= 200 %}
            <td id="stillowed100"> ${{person.stillowed}}</td>
          {% elif person.stillowed > 200 %}
            <td id="stillowed100"> ${{person.stillowed}}</td>
          {% else %}
          {% endif %}
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row small-up-1 medium-up-1 large-up-2">
  {% if roommates %}
  {% for person in roommates %}
    <div class="column">
      {% csrf_token %}
      <h2><a href="/bills/roommate/{{ person.id }}/">Payments for {{ person.name }}</a></h2>
      <table class="hover">
        <thead>
          <tr>
            <th width="100"> Amount </th>
            <th witdh="50">Type</th>
            <th>Details</th>
            <th width="100">Date Paid</th>
            <th width="100">Total Still Owed</th>
          </tr>
        </thead>
        {% if payments %}
        {% for item in payments %}
        <tbody>
          <tr class="hover">
            {% if item.roommate == person %}
              {% if item.amount %}
              <td> <a href="/bills/payments/{{ item.id }}/">{{ item.amount }}</a></td>
              {% else %}
              <td><a href="/bills/payments/{{ item.id }}/">---</a></td>
              {% endif %}
              {% if item.paymenttype %}
              <td> <a href="/bills/payments/{{ item.id }}/">{{ item.paymenttype }}</a></td>
              {% else %}
              <td><a href="/bills/payments/{{ item.id }}/">---</a></td>
              {% endif %}
              {% if item.description %}
              <td> <a href="/bills/payments/{{ item.id }}/">{{ item.description }}</a></td>
              {% else %}
              <td><a href="/bills/payments/{{ item.id }}/">---</a></td>
              {% endif %}
              {% if item.datepaid %}
              <td> <a href="/bills/payments/{{ item.id }}/">{{ item.datepaid }}</a></td>
              {% else %}
              <td><a href="/bills/payments/{{ item.id }}/">---</a></td>
              {% endif %}
              <td><a href="/bills/payments/{{ item.id }}/">---</a></td>
            {% endif %}
          </tr>
        </tbody>
        {% endfor %}
        {% endif %}
          <tr>
            <td>
              Total Paid:
            </td>
            <td>${{ person.totalpaid }}</td>
            <td> </td>
            <td> </td>
            <td>${{ person.stillowed }} </td>
          </tr>
      </table>
    </div>
  {% endfor %}
  {% else %}
    <h3>You have not uploaded any Recipes yet.</h3>
    <h3><a href="/bills/submit">Click Here</a> to upload a new recipe</h3>
  {% endif %}
</div>
{% endblock %}
